<!doctype html>
<html lang="en" ng-app="mobileRechargeApp" ng-controller="mobileRechargeCtrl">
<head>
  <meta charset="utf-8">
  <title>Spend-a-bit | Prepaid Mobile recharge</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="lib/jquery.min.js"></script>
  <script src="lib/angular.min.js"></script>
  <script src="lib/bootstrap.min.js"></script>
  <script src="js/config.js"></script>
  <script src="js/controllers.js"></script>
  <!--<script src="js/bitcoin-mock.js"></script>-->
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="input-group input-group-lg" style="margin-top: 20px;">
        <input class="form-control" id="number" placeholder="Enter mobile number" ng-model="number" style="padding-left: {{55+prefix.length*10}}px; " ng-change="flagUpdate()" ng-keyDown="keyDown($event)" maxlength="20"/>
        <div class="dropdown input-group-btn" style="position: absolute; left:1px; top:1px; border:0;">
          <a id="dLabel" data-toggle="dropdown" href="#" title="Find country code" class="btn" style="outline:none; background: url(img/flag/{{countryCode}}.png) no-repeat -3px -3px; padding-left:50px; border: 0;">
            <div class="corner"></div>
            <span style="color: rgb(85,85,85);">{{prefix}}</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dLabel" style="max-height:290px; overflow-y: scroll;">
            <li><a tabindex="-1" href="#" ng-click="setCountry(emptyCountry)" style="font-weight: bold;">Clear country code</a></li>
            <li class="dropdown-header">Find country code:</li>
            <li ng-repeat="country in countries">
              <a tabindex="-1" href="#" ng-click="setCountry(country)">{{country.name}} <span class="pull-right">+{{country.prefix}}</span></a></li>
          </ul>
        </div>
          <span class="input-group-btn">
            <a class="btn btn-lg btn-primary" ng-click="check()" ng-class="checkLoading" ng-disabled="checkLoading">OK</a>
          </span>
      </div>
      <div ng-show="countryName || numberInfo.operator" style="margin-top: -20px; margin-bottom:10px;">
        <p class="help-block"><span ng-show="countryName">Country: <b>{{countryName}}</b> </span>
          <span ng-show="numberInfo.operator">Operator: <b>{{numberInfo.operator}}</b></span></p>
      </div>
      <div ng-show="numberInfo">
        <select class="form-control" style="margin-bottom:10px;" ng-model="product" ng-show="numberInfo.products.length"
                ng-options="'Pay '+prod.price+' USD / Get '+prod.product+' '+numberInfo.currency for prod in numberInfo.products">
          <option value="">Choose recharge amount</option>
        </select>


        <div class="row" ng-show="!numberInfo.products.length" style="margin-bottom: -20px">
          <div class="col-sm-6">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Pay</button>
              </span>
              <input type="text" class="form-control" ng-model="payAmount" ng-change="changePayAmount()" ng-class="wrongAmount">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">USD</button>
              </span>

            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
          <div class="col-sm-6">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Get</button>
              </span>
              <input type="text" class="form-control" ng-model="receiveAmount" ng-change="changeReceiveAmount()" ng-class="wrongAmount">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">{{numberInfo.currency}}</button>
              </span>
            </div><!-- /input-group -->
            <span ng-class="wrongAmount" class="help-block text-right" style="font-size:80%;">min {{numberInfo.min}} {{numberInfo.currency}}, max {{numberInfo.max}} {{numberInfo.currency}}</span>

          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->

        <div style="overflow:hidden;" class="row">
          <div class="col-xs-12">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="agreed"> I've read and agree with <a data-toggle="collapse" data-parent="#accordion" href="#terms">Terms of use</a>
              </label>
            </div>

            <a class="btn btn-lg btn-primary btn-block" ng-disabled="!product || !agreed || payLoading || wrongAmount" ng-click="pay()" ng-class="payLoading">Pay With Bitcoin</a>
          </div>
        </div>
      </div>
      <div ng-show="message.text" class="alert" ng-class="message.level" ng-bind-html="message.text"></div>
      <div ng-show="wrongAmount" class="alert alert-danger">Payment amount less than minimum</div>

      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#terms">
                Terms of use
              </a>
            </h4>
          </div>
          <div id="terms" class="panel-collapse collapse">
            <div class="panel-body">
              We compiled the most important statements here for you:<br/>
              <ul><li>We keep information provided by users confidential, however we cannot guarantee that unauthorized third party will not be able to overcome our security measures. You acknowledge to provide your personal info at your own risk.</li>
                <li>We depend from many 3rd party systems and we cannot be liable for outages and inability to finalize accepted transaction. We only guarantee to refund you within 48 hours if we are unable to complete your recharge</li>
                <li>You agree not to use our services in illegal or malicious purposes</li>
              </ul><br/>
              Full document can be found <a href="http://www.spend-a-bit.com/static/terms" target="_blank" class="alert-link">here</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#howto">
                How it works
              </a>
            </h4>
          </div>
          <div id="howto" class="panel-collapse collapse in">
            <div class="panel-body">
              <strong>Works for prepaid plans only!</strong><br/>
              <ol><li>Enter mobile number you want to recharge</li>
                <li>Choose or enter (for some providers) amount of payment</li>
                <li>Make a payment to provided bitcoin address</li>
                <li>Your balance will be recharged after 3-6 confirmations in the blockchain</li>
              </ol>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#input">
                Number input format
              </a>
            </h4>
          </div>
          <div id="input" class="panel-collapse collapse">
            <div class="panel-body">
              Enter mobile number in international format: <strong>&lt;Country Code&gt;&lt;Number&gt;</strong><br/>
              You may find your country code in the list of supported countries by clicking gray flag<br/>
              Examples: 7 926 1234567 (Russia), 91 974 1234567 (India), 55 119 12345678 (Brazil)
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#prices">
                Prices
              </a>
            </h4>
          </div>
          <div id="prices" class="panel-collapse collapse">
            <div class="panel-body">
              To find out exact price enter your number into the box and press OK. <br/><strong>Attention! Mentioned prices do not include taxes if any applicable in your country</strong><br/>
              Our prices are subject to change without prior notice, We update prices to reflect currency rates fluctuation or whenever new agreement reached with the service provider. Changes for more than 2-3% usually communicated through our twitter, but it's not an obligation.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#contact">
                Contact us
              </a>
            </h4>
          </div>
          <div id="contact" class="panel-collapse collapse">
            <div class="panel-body">
              Support: <a href="mailto:support@spend-a-bit.com" target="_blank" class="alert-link">support@spend-a-bit.com</a><br/>
              Website: <a href="http://www.spend-a-bit.com/" target="_blank" class="alert-link">www.Spend-a-bit.com</a><br/>
              Email: <a href="mailto:lets@spend-a-bit.com" target="_blank" class="alert-link">lets@spend-a-bit.com</a><br/>
              Twitter: <a href="https://twitter.com/SpendBit" target="_blank" class="alert-link">@SpendBit</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


</body>
</html>
